.images{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    border-bottom: 0.2vw solid rgb(218, 68, 68);
}
.images img{
    width: 70vw;
    height: 30vw;
}

.imagesColumn{
    display: flex;
    flex-direction: column;
}
.imagesColumn img{
    width: 40vw;
    height: 15vw;
}
.LargeImg{
    border-right: 0.2vw solid rgb(255, 255, 255);
}
.borderImg{
    border-bottom: 0.2vw solid rgb(255, 255, 255);
}

.description_info{
    margin-left: 2%;
    width: 200%;
}
.description_info h4, .description_details h4{
    color: #82b74b;
    font-size: 1.2vw;
    margin-left: 2%;
}
.description_info h3{
    font-size: 1.5vw;
    margin-left: 2%;
    margin-top: 1%;
    font-family: 'Merriweather', serif;
    color: rgb(58, 42, 104);
}
.description_info h2, .description_details h2{
    font-size: 2vw;
    margin-top: 2%;
    color: rgb(58, 42, 104);
    font-family: 'Merriweather', serif;
}
.description_info p{
    margin-top: 2%;
    font-size: 1.2vw;
    width: 70%;
}
.description_details p{
    margin-top: 2%;
    font-size: 1vw;
    width: 100%;
    color: rgb(0, 0, 0);
}
.description_info h1{
    font-size: 2vw;
    margin-top: 2%;
    color: rgb(218, 68, 68);
    font-family: 'Merriweather', serif;
}
.description_details h1{
    font-size: 2vw;
    margin-top: 2%;
    color: rgb(58, 42, 104);
    font-family: 'Merriweather', serif;
}
.description_details h3{
    font-size: 2vw;
    margin-top: 2%;
    color: rgb(218, 68, 68);
    font-family: 'Merriweather', serif;
}
.description{
    display: flex;
    flex-direction: row;
    padding-top: 10%;
    padding-bottom: 10%;
}
.description_details{
    margin-right: 10%;
    background-color: rgb(240, 240, 240);
    width: 100%;
    padding:2%;
    border-radius: 0.5vw;
}
