
.nav{
    background-color:rgb(58, 42, 104);
    display: flex;
    flex-direction: row;
    padding: 2%;
    border-bottom: 0.2vw solid rgb(218, 68, 68);
  }
.nav h1{
    margin-left: 2%;
    font-size: 2vw;
    margin-top: 1%;
    color: white;
    font-family: 'Merriweather', serif;
  }
.connect_button{
    font-family: 'Merriweather', serif;
    font-size: 1.5vw;
    background-color:rgb(218, 68, 68);
    border-radius: 0.3vw;
    margin-left: 30%;
    margin-top: 1.5%;
    height: 100%;
  }
.connect_button{
color: white;
  }
.connect_button:hover{
    background-color: rgba(218, 109, 109, 0.822);
    color: white;
  }
ul {
    display: flex;
    flex-direction: row; 
    margin-left: 10%;
  }
li {
    margin-top: 4%;
    margin-left: 15%;
  }
li a{
  color: white;
  font-size: 2vw;
  padding-left: 5%;
  font-family: 'Merriweather', serif;
}
li a:hover{
    color: rgb(204, 204, 204);
  }
  
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .connect_button, .nav h1 {
    margin-top: 4%;
  }
}